# dependencies
/node_modules
/yarn.lock
/package-lock.json

# build artifacts
/out
/.vscode
/.vscode-test
/.DS_Store

# VS Code workspace settings
/.vscode/settings.json
/.vscode/launch.json
/.vscode/tasks.json

# misc
/.idea
/.cache
.DS_Store
