# dependencies
/node_modules
/yarn.lock
/package-lock.json

# build artifacts
/out
/.vscode
/.vscode-test
/**/*.vsix
builds/**/*

# VS Code workspace settings
/.vscode/settings.json
/.vscode/launch.json
/.vscode/tasks.json

# misc
*.DS_Store
/.idea
/.cache
*.psd
src/commanded-x.band/**/*