# dependencies
/node_modules
/yarn.lock

# build artifacts
/out
/.vscode-test
/.dev
/**/*.vsix
builds/**/*

# VS Code workspace settings
/.vscode/settings.json

# misc
*.DS_Store
/.idea
/.cache
*.psd
src/commanded-x.band/**/*
